// Create your own map

$primary: #0f3b6f;
$danger: #ff0000;
$tertiary: #5694dc;
$success: #027500;
$black: #000000;

$theme-colors: (
  "primary": $primary,
  "danger": $danger,
  "tertiary": $tertiary,
  "success": $success,
  "black": $black,
);

@import "../node_modules/bootstrap/scss/bootstrap";
