.text-Oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
* {
  text-transform: capitalize;
  box-sizing: border-box;
}
.container_logo_true_style {
  margin-top: -80px; /* Ajusta el logo para que suba*/
}

@media (min-width: 768px) {
  .imagen-grande {
    max-width: 80%;
  }
}

@media (min-width: 992px) {
  .imagen-grande {
    max-width: 70%;
  }
}
/*
/* custom.css o style.css */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Oculta el desplazamiento horizontal */
  box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el tamaño total del elemento */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%; /* Asegura que las imágenes no excedan el ancho de su contenedor */
  height: auto;
}

.navbar-nav {
  flex-wrap: wrap; /* Permite que los elementos de la barra de navegación se ajusten al ancho disponible */
}

.section {
  width: 100%;
}
/* Asegúrate de que el modal ocupe toda la altura de la pantalla */
.modal-side-right .modal-dialog {
  position: fixed;
  top: 0;
  right: 0;
  margin: 0;
  height: 100%;
  max-width: 400px; /* Ajusta el ancho según tus necesidades */
}

.modal-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0;
  border: none;
}

.modal-body {
  overflow-y: auto;
}

.modal-header {
  padding: 15px;
  background-color: #f8f8f8;
}

.modal-title {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}

.btn-close {
  font-size: 20px;
}
/* styles.css */
/* styles.css */
.product-img {
  max-width: 80%; /* Ajusta el tamaño según tus necesidades */
  height: auto;
}

.card {
  text-align: center; /* Centra el contenido dentro de las tarjetas */
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
