# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Logs
*.log

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos del editor (VS Code, etc.)
.vscode/
.idea/
*.swp
